{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}}
 :aliases
 {:nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                cider/cider-nrepl {:mvn/version "0.45.0"}}
   :extra-paths ["resources"]
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}} 